body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:8110px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1010px;
  top:997px;
  width:1280px;
  height:853px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:853px;
}
#u1 {
  position:absolute;
  left:2px;
  top:418px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:6090px;
  top:3687px;
  width:2020px;
  height:1430px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2020px;
  height:1430px;
}
#u3 {
  position:absolute;
  left:2px;
  top:707px;
  width:2016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:2750px;
  top:3707px;
  width:1280px;
  height:1430px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1430px;
}
#u5 {
  position:absolute;
  left:2px;
  top:707px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:4730px;
  top:997px;
  width:1280px;
  height:1430px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1430px;
}
#u7 {
  position:absolute;
  left:2px;
  top:707px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:4430px;
  top:3707px;
  width:1280px;
  height:1463px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1463px;
}
#u9 {
  position:absolute;
  left:2px;
  top:724px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:2517px;
  top:997px;
  width:1963px;
  height:1610px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1963px;
  height:1610px;
}
#u11 {
  position:absolute;
  left:2px;
  top:797px;
  width:1959px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1010px;
  top:3687px;
  width:1280px;
  height:1430px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1430px;
}
#u13 {
  position:absolute;
  left:2px;
  top:707px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1010px;
  top:1959px;
  width:433px;
  height:100px;
  font-size:72px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:100px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:1010px;
  top:2088px;
  width:970px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:953px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:970px;
  height:1px;
}
#u17 {
  position:absolute;
  left:1010px;
  top:2129px;
  width:665px;
  height:67px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:67px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:2526px;
  top:2670px;
  width:289px;
  height:100px;
  font-size:72px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:100px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:2526px;
  top:2799px;
  width:970px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:953px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:970px;
  height:1px;
}
#u22 {
  position:absolute;
  left:2526px;
  top:2840px;
  width:1241px;
  height:134px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1241px;
  height:134px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:1241px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:2526px;
  top:2978px;
  width:1102px;
  height:67px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:67px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:2526px;
  top:3055px;
  width:1100px;
  height:67px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:67px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:2526px;
  top:3132px;
  width:857px;
  height:67px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:857px;
  height:67px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:857px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:4740px;
  top:2283px;
  width:289px;
  height:100px;
  font-size:72px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:100px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:4740px;
  top:2412px;
  width:970px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:953px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:970px;
  height:1px;
}
#u33 {
  position:absolute;
  left:4740px;
  top:2453px;
  width:1318px;
  height:67px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1318px;
  height:67px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:1318px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:4740px;
  top:2530px;
  width:1337px;
  height:67px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1337px;
  height:67px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:1337px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:1010px;
  top:5302px;
  width:289px;
  height:100px;
  font-size:72px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:100px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:1010px;
  top:5431px;
  width:970px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:953px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:970px;
  height:1px;
}
#u40 {
  position:absolute;
  left:1010px;
  top:5472px;
  width:1241px;
  height:134px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1241px;
  height:134px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:1241px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:1010px;
  top:5619px;
  width:1102px;
  height:67px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:67px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:1010px;
  top:5696px;
  width:1100px;
  height:67px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:67px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:1010px;
  top:5773px;
  width:713px;
  height:67px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:67px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:2750px;
  top:5302px;
  width:289px;
  height:100px;
  font-size:72px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:100px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:2750px;
  top:5431px;
  width:970px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:953px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:970px;
  height:1px;
}
#u51 {
  position:absolute;
  left:4430px;
  top:5302px;
  width:289px;
  height:100px;
  font-size:72px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:100px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:4430px;
  top:5431px;
  width:970px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:953px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:970px;
  height:1px;
}
#u54 {
  position:absolute;
  left:4430px;
  top:5472px;
  width:761px;
  height:67px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:67px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:4430px;
  top:5549px;
  width:857px;
  height:67px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:857px;
  height:67px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:857px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:6090px;
  top:5302px;
  width:289px;
  height:100px;
  font-size:72px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:100px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:6090px;
  top:5431px;
  width:970px;
  height:10px;
}
#u60_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_end {
  position:absolute;
  left:953px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_line {
  position:absolute;
  left:0px;
  top:5px;
  width:970px;
  height:1px;
}
#u61 {
  position:absolute;
  left:6090px;
  top:5472px;
  width:665px;
  height:67px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:67px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:6090px;
  top:5549px;
  width:1241px;
  height:67px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1241px;
  height:67px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:1241px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:2526px;
  top:3209px;
  width:1241px;
  height:134px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1241px;
  height:134px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:1241px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:2526px;
  top:3360px;
  width:1241px;
  height:67px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1241px;
  height:67px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:1241px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:2750px;
  top:5490px;
  width:1318px;
  height:67px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1318px;
  height:67px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:1318px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:2750px;
  top:5567px;
  width:1337px;
  height:67px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1337px;
  height:67px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:1337px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:550px;
  top:168px;
  width:624px;
  height:312px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:312px;
}
#u73_img.mouseOver {
}
#u73.mouseOver {
}
#u73_img.mouseDown {
}
#u73.mouseDown {
}
#u74 {
  position:absolute;
  left:2px;
  top:106px;
  width:620px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:1308px;
  top:168px;
  width:624px;
  height:312px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:312px;
}
#u75_img.mouseOver {
}
#u75.mouseOver {
}
#u75_img.mouseDown {
}
#u75.mouseDown {
}
#u76 {
  position:absolute;
  left:2px;
  top:106px;
  width:620px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:2065px;
  top:168px;
  width:624px;
  height:312px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:312px;
}
#u77_img.mouseOver {
}
#u77.mouseOver {
}
#u77_img.mouseDown {
}
#u77.mouseDown {
}
#u78 {
  position:absolute;
  left:2px;
  top:106px;
  width:620px;
  word-wrap:break-word;
}
